@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.logement__host{
    display: flex;

    @include mobile {
        align-items: center;
        max-width: 93px;
        max-height: 52px;
    }
    h3{
        max-width: 93px;
        max-height: 52px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;

        color: #FF6060;

        @include mobile {
            display: flex;
            text-align: end;
            padding-right: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 142.6%;
        }
    }
    &__picture{
        img{
            border-radius: 50px;
            width: 64px;
            height: 64px;

            @include mobile {
                width: 32px;
                height: 32px;
            }
        }
        
    }
}