.logement__title {
    h2{
        width: 70%;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 142.6%;  
    }
    p {
        width: 20%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        
        color: #FF6060; 
    }
}